@import url("https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  width: 100%;
  background-color: #040023;
  /* overflow: hidden; */
  font-family: "Fira Sans", sans-serif;
}

/* header {
  z-index: 999;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 50px;
  transition: 0.5s ease;
  
}

header .brand {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
}

header .brand:hover {
  color: #040023;
}

header .navigation {
  position: relative;
}

header .navigation .navigation-items a {
  position: relative;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  margin-left: 30px;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:before {
  content: "";
  position: absolute;
  background: #fff;
  width: 0;
  height: 3px;
  bottom: 0;
  left: 0;
  transition: 0.3s ease;
}

header .navigation .navigation-items a:hover:before {
  width: 100%;
  background: #09a6d4;
} */

section .home {
  padding: 70px 100px;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.home {
  position: relative;
  width: 100%;
  min-height: 102vh;
  display: flex;
  justify-content: center;
  flex-direction: column;
  background: #040023;
  
}

.home:before {
  z-index: 777;
  content: "";
  position: absolute;
  
  width: 100%;
  height: 85%;
  top: 5%;
  left: 0%;
}

.home .content {
  position: absolute;
  bottom: 3%;
  left: 5%;
  z-index: 888;
  color: rgb(3, 8, 57);
  width: 38%;
  margin-bottom: 1px;
  display: none;
  backdrop-filter: blur(10px);
  
}

.home .content.active {
  display: block;
}

.home .content h1 {
  font-size: 2em;
  font-weight: 900;
  text-transform: uppercase;
  letter-spacing: 3px;
  line-height: 27px;
  margin-bottom: 10px;
}

.home .content h1 span {
  font-size: 0.8em;
  font-weight: 600;
}

.home .content p {
  margin-bottom: 15px;
  /* color: #1266F1; */
}

.home .content a {
  background: #1266f1;
  padding: 5px 9px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
}

.home .content a:hover {
  background: #0449b8;
  color: #fff;
}

.home img {
  z-index: 000;
  position: absolute;
  top: 33px;
  right: 2%;
  left: 2%;
  margin: auto;
  width: 95%;
  height: 96.8vh;
  object-fit: cover;
  
}
.home .buttons {
  position: absolute;
  top: 42%;
  left: 2%;
  width: 95%;
  display: flex;
  justify-content: space-between;
}
.home .buttons button {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  background-color: #fff5;
  color: #fff;
  border: none;
  font-family: monospace;
  font-weight: bold;
}

.slider-navigation {
  z-index: 888;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  transform: translateY(48vh);
  margin-bottom: 12px;
}

.slider-navigation .nav-btn {
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  cursor: pointer;
  box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
  transition: 0.3s ease;
}

.slider-navigation .nav-btn.active {
  background: #1266f1;
}

.slider-navigation .nav-btn:not(:last-child) {
  margin-right: 20px;
}

.slider-navigation .nav-btn:hover {
  transform: scale(1.2);
}

.img-slide {
  position: absolute;
  width: 100%;
  clip-path: rect(5px 5px 160px 145px round 20%);
}

.img-slide.active {
  clip-path: circle(150% at 0 50%);
  transition: 2s ease;
  transition-property: clip-path;
}

.blogs {
  margin-top: 2vh;
  padding: 2vh 4vh;
  height: 100vh;
  width: 100%;
}
.b-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.b-head h1 {
  font-size: 2.5em;
  color: #fff;
  font-weight: 500;
}
.b-head .b-btn {
  background: #1266f1;
  padding: 5px 9px;
  color: #fff;
  font-size: 1em;
  font-weight: 500;
  text-decoration: none;
  border-radius: 2px;
  border: none;
}
.b-head .b-btn:hover {
  background: #0449b8;
  color: #fff;
}
.center {
    padding: 5vh 1vh;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 2vw;
    /* height: 100vh; */
    align-items: center;
    justify-content: space-evenly;
  }
  
  .article-card {
    width: 350px;
    height: 230px;
    border-radius: 12px;
    overflow: hidden;
    position: relative;
    /* box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24); */
    transition: all 300ms;
  }
  
  .article-card:hover {
    transform: translateY(-2px);
    box-shadow: 0 14px 28px rgba(44, 61, 191, 0.25), 5px 10px 10px rgba(35, 69, 193, 0.22);
  }
  
  .article-card img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  
  .article-card .content {
    /* box-sizing: border-box; */
    width: 100%;
    position: absolute;
    padding: 30px 20px 10px 20px;
    height: auto;
    bottom: 0;
    background: rgb(255, 255, 255);
    background: linear-gradient(
    180deg,
    rgba(255, 255, 255, 0) 0%,
    rgba(0, 0, 0, 0.902) 41%
    );
  }
  
  .article-card .blog,
  .article-card .title {
    margin: 0;
  }
  
  .article-card .blog {
    font-size: 12px;
    color: #fff;
    margin-bottom: 4px;
  }
  
  .article-card .title {
    font-size: 17px;
    color: #fff;
  }

@media (max-width: 1040px) {
  header {
    padding: 12px 20px;
  }
  section {
    padding: 100px 20px;
  }
  /* .home .media-icons {
    right: 15px;
  } */
  header .navigation {
    display: none;
  }
  header .navigation.active {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(1, 1, 1, 0.5);
  }

  header .navigation .navigation-items a {
    color: #222;
    font-size: 1.2em;
    margin: 20px;
  }
  header .navigation .navigation-items a:before {
    background: #222;
    height: 5px;
  }
  header .navigation .navigation-items {
    background: #fff;
    width: 600px;
    max-width: 600px;
    margin: 20px;
    padding: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    box-shadow: 0 5px 25px rgb(1 1 1 / 20%);
  }
  .menu-btn {
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhuPRZalVfnuoJeiAPqy-U3nX9m7Wt3x358e-hDTrxPwhcpG9hBMg1MojYqEWIE3LJiKEAtdRTU7wQybGMOkgvIQJ4AMcSJ4CwHawa9OOEuMe3ORMRLZr1sY1FSPEc2tHmAHilaepe4hV48DyGagim2iidrlD-7hb6cM-iQ6PvdONpgp21EUh8u14xU/w320-h320/close.png)
      no-repeat;
    background: url() no-repeat;
    background-size: 30px;
    background-position: center;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: 0.3s ease;
  }
  .menu-btn.active {
    z-index: 999;
    background: url(https://blogger.googleusercontent.com/img/b/R29vZ2xl/AVvXsEhuPRZalVfnuoJeiAPqy-U3nX9m7Wt3x358e-hDTrxPwhcpG9hBMg1MojYqEWIE3LJiKEAtdRTU7wQybGMOkgvIQJ4AMcSJ4CwHawa9OOEuMe3ORMRLZr1sY1FSPEc2tHmAHilaepe4hV48DyGagim2iidrlD-7hb6cM-iQ6PvdONpgp21EUh8u14xU/w320-h320/close.png)
      no-repeat;
    background-size: 25px;
    background-position: center;
    transition: 0.3s ease;
  }
}

@media (max-width: 560px) {
  .home{
    min-height: 73vh;
  }
  .home .content{
    text-align: center;
    width: 90%;
  }
  .home .img-slide{
    height: 70vh;
  }
  .home img{
    object-fit: cover;
  }
  .home .content h1 {
    font-size: 1.5em;
    line-height: 25px;
  }
  .slider-navigation{
    transform: translateY(37vh);
  }
  .slider-navigation .nav-btn {
    width: 9px;
    height: 9px;
    background: #fff;
    border-radius: 50%;
    cursor: pointer;
    box-shadow: 0 0 2px rgba(255, 255, 255, 0.5);
    transition: 0.3s ease;
  }
  .home .content a {
    background: #1266f1;
    padding: 4px 7px;
    color: #fff;
    font-size: .8em;
    font-weight: 400;
    text-decoration: none;
    border-radius: 2px;
  }
}
@media (max-width: 360px) {
  .home{
    min-height: 63vh;
  }
  .home .content{
    text-align: center;
    width: 90%;
  }
  .home .img-slide{
    height: 60vh;
  }
  .home img{
    object-fit: cover;
  }
  .home .content h1 {
    font-size: 1em;
    line-height: 15px;
  }
  .home .content p {
    font-size: .6em;
    line-height: 15px;
  }
  .home .content a {
    background: #1266f1;
    padding: 3px 6px;
    color: #fff;
    font-size: .7em;
    font-weight: 300;
    text-decoration: none;
    border-radius: 2px;
  }
  .slider-navigation{
    transform: translateY(32vh);
  }
}
